{% extends 'admin/change_form.html' %}

{% block field_sets %}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ adminform.form.sur_name.label_tag }}
            {{ adminform.form.sur_name }}
            {% if adminform.form.sur_name.errors %}
                <div class="alert alert-danger">{{ adminform.form.sur_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group col-md-6">
            {{ adminform.form.first_name.label_tag }}
            {{ adminform.form.first_name }}
            {% if adminform.form.first_name.errors %}
                <div class="alert alert-danger">{{ adminform.form.first_name.errors }}</div>
            {% endif %}
        </div>
    </div>
    {{ block.super }}
{% endblock field_sets %}